{% extends 'base.html' %}
{% block title %} Guide {% endblock %}
{% block content %}
<h1 class="text-4xl font-bold text-green-700 ">Guide</h1>

<nav class="mt-2">
    <ul class="flex space-x-4">
        {% for game in games %}
            <li>
                <a href="/guides/{{ game }}" class="text-black-600 hover:underline">{{ game | replace("_", " ") | title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% if selected_game %}
    <section id="game-guide" class="my-8">
        <h2 class="text-3xl font-bold mb-4">{{ selected_game | replace("_", " ") | title}} Guide</h2>

        <div class="my-8 ml-4">
            <h3 class="text-2xl font-semibold mb-4 ">Main Quests</h3>
            <ul class="list-disc list-inside">
                {% for article in articles %}
                    {% if article.guidetype == "Main Quest" %}
                        <li>
                            <a href="{{ url_for('displayarticle', name=article.articlesubject) }}" class="text-green-700 text-xl hover:underline">
                                {{ article.articlesubject }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="my-8 ml-4">
            <h3 class="text-2xl font-semibold mb-4 ">Side Quests</h3>
            <ul class="list-disc list-inside">
                {% for article in articles %}
                    {% if article.guidetype == "Side Quest" %}
                        <li>
                            <a href="{{ url_for('displayarticle', name=article.articlesubject) }}" class="text-green-700 text-xl hover:underline">
                                {{ article.articlesubject }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="my-8 ml-4">
            <h3 class="text-2xl font-semibold mb-4 ">Collections</h3>
            <ul class="list-disc list-inside">
                {% for article in articles %}
                    {% if article.guidetype == "Collection" %}
                        <li>
                            <a href="{{ url_for('displayarticle', name=article.articlesubject) }}" class="text-green-700 text-xl hover:underline">
                                {{ article.articlesubject }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="my-8 ml-4">
            <h3 class="text-2xl font-semibold mb-4 ">Easter Eggs</h3>
            <ul class="list-disc list-inside">
                {% for article in articles %}
                    {% if article.guidetype == "Easter Egg" %}
                        <li>
                            <a href="{{ url_for('displayarticle', name=article.articlesubject) }}" class="text-green-700 text-xl hover:underline">
                                {{ article.articlesubject }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
            
    </section>
    {% else %}
        <p class="text-4xl text-black-600 mt-8">Please select a Game.</p>
        <img src="https://gamebuster.sg/cdn/shop/files/61slK3QViuL._AC_SX679.jpg?v=1706263524&width=480" class="w-64 h-64">
{% endif %}

{%endblock%}