{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl font-bold text-green-700 mb-4">Home</h1>
<main class="p-2">
    <section id="home" class="my-4">
        <h2 class="text-2xl font-semibold mb-4">Welcome to the Zelda Wiki!</h2>
        <p class="text-lg">Your ultimate guide to every Zelda game. Find maps, walkthroughs, and learn all the secrets hidden throughout the Zelda universe.</p>
    </section>
    <img src="https://kfwimg.kafan.cn/upload/image/20240806/20240806110720_89840.jpg" class="w-32 h-32">

    <section id="news" class="my-8">
        <h2 class="text-2xl font-semibold mb-4">Latest Zelda News</h2>
        <div class="bg-white p-4 rounded shadow-md">
            <p>...</p>
        </div>
    </section>

    
</main>
{% endblock %}


